canvas {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 2px;
}

#peer-review {
  width:200px;
  height: 250px;
}

#point-distribution {
  height: 200px;
  height: 200px;
}
